.container-content {
  width: 1000px;
  margin: 50px auto 10px auto;
}

.container-h1 {
  margin-top: 70px;
}

h1 {
  padding: 10px 30px;
  color: white;
  font-size: 30px;
  border-radius: 5px;
  background-color: rgb(69,73,72);
  display: inline;
}

.contact-message {
  margin-top: 40px;
  font-family: 'Sree Krushnadevaraya', serif;
  font-size: large;
}
 .contact-information {
  margin-top: 40px;
  font-family: 'Sree Krushnadevaraya', serif;
  font-size: large;
  background-color: rgb(245, 245, 245);
  text-align: center;
  border-radius: 5px;
  padding: 20px 0px;
}

.container-footer {
  position: absolute;
  bottom: 0;
}

@media (max-width: 500px) {
  .container-content {
    width: 100%;
    padding: 30px;
    margin-top: 10px;
    padding: 0 50px;
    text-align: center;
  }

  .container-footer {
    padding: 0px 30px;
    position: absolute;
    bottom: -290px;
    margin-bottom: -20px;
  }
}