.container-main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container-content {
  width: 1000px;
  margin: 0px auto 10px auto;
  flex: 1;
}

.container-h1 {
  margin-top: 70px;
}

h1 {
  padding: 10px 30px;
  color: white;
  font-size: 30px;
  border-radius: 5px;
  background-color: rgb(69,73,72);
  display: inline;
}

.contact-message {
  margin-top: 40px;
  font-family: 'Sree Krushnadevaraya', serif;
  font-size: large;
}
 .contact-information {
  margin-top: 40px;
  font-family: 'Sree Krushnadevaraya', serif;
  font-size: large;
  background-color: rgb(245, 245, 245);
  text-align: center;
  border-radius: 5px;
  padding: 20px 0px;
}

@media (max-width: 480px) {
  .container-content {
    width: 100%;
    padding: 0 50px;
    text-align: center;
  }

  .container-h1 {
    margin-top: 40px;
  }

  .contact-information {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}